.navbar{
    margin-bottom: 50px;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.img-1, .form{
    margin: 0 auto;
}
.form{
    width: 400px;
}
.img-1{
    max-width: 700px;
    width: 100%;
}
.d-block{
    height: 400px;
}
.carousel{
    margin: 50px 120px 50px 120px;
    height: 400px;
}
footer{
    text-align: center;
    padding: 20px;
}
